/* Cores --Somente Cores */
:root{
    /* tela light */
    --fundo:#ffffff;
    --fundo-conteudo: #71816D;
    --fundo-menu: #696969;
    --texto:#000000;
    --link:#00FFFF;

    /* tema dark */
    --fundo-dark:#483D8B ;
    --fundo-conteudo-dark:#191970;
    --fundo-menu-dark:#4B0082;
    --texto-dark:#FFEFD5;
    --link-dark: #B0E0E6;
}
