.container{    
    max-width: 650px;
    display: grid;
    /* colunas virtuais por porporção */
    /* grid-template-columns: 3fr 3fr 3fr; */
    /* grid-template-columns: 70% 30%; */
    /* grid-template-columns: 150px 150px 150px; */
    /* grid-template-rows: 30px 50px; */
    /* grid-template-rows: 30px minmax(50px,auto); */
    /* para consertar para caso texto maior que o container */
    /* row-gap: 10px; */
    /* column-gap: 50px; */
    /* gap para dividir */
    background-color: #00FF00;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(3,minmax(100px,auto));
}

div div{
    background-color: grey;
    border: 1px solid yellow;
    color:navy;
    text-align: center;
}

.item-a{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: green;
}


.item-b{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: grey;
}

.item-c{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    /* grid-column-end: 5; */
    background-color: red;
}

.item-d{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    background-color: yellow;
}

.item-e{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: blue;
}

.item-f{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: darkorchid;
}