*{
    box-sizing: border-box;
}

div,header,nav,main,aside,footer{
    border: solid 1px black;
    padding: 20px;
}
/* 
.item-c{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    /* grid-column-end: 5; */
/* } */

.container{
max-width: 900px;
margin: auto;
display: grid;
grid-template-columns: 200px 6fr 3fr;
grid-template-rows: 150px minmax(300px, auto) 100px;
grid-template-areas: 
    "topo topo topo"
    "menul principal banner"
    "rodape rodape rodape"
;
}

header{
grid-area: topo;
}

nav{
grid-area: menul;
}

main{
grid-area: principal;
}

aside{
grid-area: banner;
}

footer{
grid-area: rodape;
}