  html,body{
  margin:0px;
  padding: 0px;
}
/* INDEX */
body{
  background: linear-gradient(10deg,#000000,#6e7d88);
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.navigation{
  background-color: #37718e ;
  height: 50px ;
  background: linear-gradient(135deg,#05b8cf,#530d96);
  animation-duration: 1.5s;
  animation-name: nav;
}

.navigation ul{
  margin-top: 0px;
  list-style: none; /* tirar as bolinhas do 'ul' */
  padding-left: 0px;
  text-align: center; 
  height: 50px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.navigation a{
  color: #ffffff;
  text-decoration: none;
}

.navigation a:hover{
  color:#000000
}

.navigation li{
  display: inline-block; /* criar os blocos */
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  
}

.navigation li.threeline-icon{
  display: none;
}

.navigation li.threeline-icon:hover {
  color: #f27609;
  cursor: pointer;
}

.capa div{
  display: inline-block; /* criar blocos */
  height: 650px;
}

.profile-pic{
/* background-color: yellow; */
 /* Opção para caso use cores diferentes para cada bloco e transformar o site responsivo a sempre trabalhar com essa proporção*/
box-sizing: border-box;
animation-name: profile-capa;
animation-duration: 1.5s;
vertical-align: center;
margin-right: 25px;
}

.profile-pic img{
  width: 350px;
  border-radius: 90px;
  margin-top: 80px;
  animation-name: profile-capa;
  animation-duration: 1.5s;
  align-items: center;
}

 .profile-title{
  /* background-color: red; */
  vertical-align: top; /* Opção para caso use cores diferentes para cada bloco e transformar o site responsivo a sempre trabalhar com essa proporção*/
  animation-name: title-capa;
  animation-duration: 1.5s;
} 

.profile-title h1{ /* Titulo de Nome e Exercicio do Professor*/
line-height: 30px; /* diminuir espacamento */
font-size: 50px;
text-shadow: cyan -2px 0, red 2px 0;
margin-top: 180px;
color:#ffffff
text-align: center;
}

#social-img {
  width: 50px;
  padding-right: 20px;
}

@keyframes profile-capa {
  0%  {opacity: 0; transform: translate(0px,20px)}
  100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes title-capa {
  0%  {opacity: 0; transform: translate(0px,-20px)}
  100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes nav {
  0%  {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes tela{
  0%  {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width:1200px){

.navigation li{
  display: none;
}

.navigation li.threeline-icon{
  display: inline-block;  
  text-align: right;
}

.capa div{
  display: block; /* criar blocos */
  height: auto;
}

.profile-pic{
width: 100%;
}

.profile-pic img{
  margin-top: 0;
  max-width: 80%;
}

.profile-title{
width: 100%;
text-align: center;
}

.profile-title h1{
margin-top: 20px;
font-size: 40px;
}

.main {
  padding-top: 5px;
  padding-right: 5%;
  padding-bottom: 40px;
  padding-left: 5%;
}

.main a{
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.miniatura{
max-width: 100%;
background-size: auto 100%;

}

.blackbox{
  opacity: 0.5%;
}

.menujs{
height: auto;
}

.menujs ul{
height: auto;
text-align: center;
}

.menujs li{
  display:block;
}

#page-container {

}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}