:root{
    scroll-behavior: smooth;
    --main-bg-color:#BA2D0B;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d3d3d3;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin:auto;
    background-color: white;
    min-height: 100vh;
    line-height: 2em;
}
header, section, nav{
    border-bottom: 1px solid #CCC;
    padding: 10px 50px;
}

section{
    min-height: 50vh;
}

header{
    text-align: center;
}

table{
    width: 100%;
}
/*
* 
Para esta atividade, você não deve alterar absolutamente nada o arquivo HTML.

1 - formate os links como achar mais apropriado em seus estados (link, visited, hover, active)
2 - os links devem estar lado a lado (display:inline ou inline-block)
3 - a pizza do cheff está em falta, esconda esta linha da tabela (display:none)
4 - faça a tabela ser listrada com cores diferentes
5 - a primeira linha da tabela (cabeçalho) deve ser com uma cor destaque
6 - cada seção deve ter uma cor de fundod diferente
7 - Títulos devem possui cores diferentes em cada seção. No entanto, os parágrafos das seções devem ser de cores iguais.
8 - adicione "R$" nos preços das pizzas
9 - links externos devem possuir uma cor ligeiramente diferente (começa com http)
10 - adicione "Rua" antes do nome da rua "Maria Aparecida Barbosa"
11 - adicione "bairro antes de "Campo Duna"
12 - adicione "Santa Catarina" após o nome da cidade (Garopaba)
13 - ao passar o cursor sobre cada linha da tabela, ela deve ser "iluminada" com outra cor (menos o cabeçalho). 
	 Dica: combinação de pseudo classes
14 - o texto do endereço deve ser centralizado
15 - Desenvolva 3 exemplos de uso de pseudo-classes que não foram demonstradas pelo professor
16 - Desenvolva 2 exemplos de pseudo-elementos que não foram demonstradas pelo professor
*/

/*1*/
a:any-link{
    text-decoration: none;
    color: gold;
    background-color: var(--main-bg-color);
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: black1;
}

/*2*/

nav{
    color: #BA2D0B;
text-align: center;
background-color: var(--main-bg-color);
}

nav div{
    display:inline-block;
    margin:0 15px 0 15px;
}

/* 3 */
tr:nth-child(4){
    display: none;
}


/* 4 */
tr:nth-child(3n){
    color:#D5F2E3;
    background-color:var(--main-bg-color);
}

/* 5 */
tr:first-child{
    color: yellow;
    background-color:var(--main-bg-color);

}

/* 6 */
section:first-child{
    color: goldenrod;
    background-color: var(--main-bg-color);
    font-weight: bold;
}

section:first-child + section{
    color: #73BA9B;
    background-color: white;
}

section:last-child{
background-color: coral;
}

/* 7 */
#sobre{
    color:ivory
}

#produtos{
    color: white;
    background-color: var(--main-bg-color);
}

#endereco{
    color:#BA2D0B;
}

/* 8 adcione RS nos precos das pizzas*/
td:last-child:not(tr:first-child td)::before{
    content:'R$'
}

/* 9 */
a[href*="https"]{
    color:cyan;
    font-weight: bold;
}

/* 13 */
tr:not(tr:first-child):hover{
    color:yellow;
    background-color: var(var(--main-bg-color));
}

/* 15 */
:target{
    border-bottom: 1px solid white;
}





