body{
    background-color: var(--fundo);
    font-family: 'Courier New', Courier, monospace;
    padding: 0 30px;
}

.container{
    max-width: 1200px;
    background-color: var(--fundo-conteudo);
    color: var(--texto);
    margin:auto;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
}

nav{
    background-color: var(--fundo-menu);
    padding: 5px;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

li{
    border:1px solid white;
    display: inline-block;
    flex-grow: 1; 
    text-align: center;
}

a:any-link{
    color:var(--link);
}

h1{
    text-align: center;
}

p{
    text-align: justify;
    line-height: 150%;
}

@media print{
*{
    background-color:white !important;
    color:black !important;
}

nav{
        display: none;
}

main::after{
        content: "Impresso de www.garopaba.ifsc.edu.br"
}
}
nav,main,section{
    box-sizing: border-box; /*hack para contabilizar o padding na largura*/
    padding: 20px;
    margin: 10px;
    border-radius: 40px;
}