/* Reset de estilos padrão */
html, body {
  margin: 0;
  padding: 0;
}

/* Estilos para o corpo da página INDEX */
body {
  background: linear-gradient(10deg, #000000, #6e7d88);
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

/* Estilos para a barra de navegação */
.navigation {
  background-color: #37718e;
  height: 50px;
  background: linear-gradient(135deg, #05b8cf, #530d96);
  animation-duration: 1.5s;
  animation-name: nav;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
}

.navigation a:hover {
  color: #000000;
}

.navigation li {
  display: inline-block;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.navigation li.threeline-icon {
  display: none;
}

.navigation li.threeline-icon:hover {
  color: #f27609;
  cursor: pointer;
}

/* Estilos para a seção da capa */
.capa div {
  display: inline-block;
}

.profile-pic {
  box-sizing: border-box;
  animation-name: profile-capa;
  animation-duration: 1.5s;
}

.profile-pic img {
  width: 350px;
  border-radius: 90px;
  margin-top: 5%;
}

.profile-title {
  animation-name: title-capa;
  animation-duration: 1.5s;
}

.profile-title h1 {
  font-size: 50px;
  text-shadow: cyan -2px 0, red 2px 0;
  color: #ffffff;
  text-align: center;
}

.profile-title h3 {
  font-size: 25px; 
  color: #ffffff;
  text-align: center;
  padding-left: 17%;
  padding-right: 17%;
}



/* Estilos para as imagens sociais */
#social-img {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

#icon-img {
  width: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Animações */
@keyframes profile-capa {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes title-capa {
  0% {
    opacity: 0;
    transform: translate(0px, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Estilos responsivos */
@media (max-width: 1200px) {
  .navigation li {
    display: none;
  }

  .navigation li.threeline-icon {
    display: inline-block;
    text-align: right;
  }

  .capa div {
    display: block;
  }

  .profile-pic {
    width: 100%;
  }

  .profile-pic img {
    margin-top: 0;
    max-width: 80%;
  }

  .profile-title {
    width: 100%;
    text-align: center;
  }

  .profile-title h1 {
    font-size: 40px;
  }

  .main {
    padding: 5px 5% 40px 5%;
  }

  .main a {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .miniatura {
    max-width: 100%;
    background-size: auto 100%;
  }

  .blackbox {
    opacity: 0.5%;
  }

  .menujs,
  .menujs ul {
    height: auto;
    text-align: center;
  }

  .menujs li {
    display: block;
  }

  #content-wrap {
    padding-bottom: 2.5rem;
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
